html,body{
    font-family: STKaiti, KaiTi_GB2312, "华文楷体", "宋体", Arial, Helvetica, sans-serif;
}
nav{
    background: #221236 url(../images/header_bg.jpg) top center;
    min-width: 1100px;
}
.nav-top{
    height: 120px;
    width: 1100px;
    margin: 0 auto;
}
.nav_wrap {
    width: 630px;
    margin: 0 auto;
    height: 25px;
    line-height: 25px;
    float: right;
    margin-top: 45px;
    text-align: right;
}
.nav_piece{
    float: left;
    position: relative;
}
@keyframes d {
    0%{
        height: 0px;
    }
    10%{
        height: auto;
    }
    20%{
        height:300px;
    }
    30%{
        height: auto;
    }
    40%{
        height: 180px;
    }
    60%{
        height: 240px;
    }
    100%{
        height: auto;
    }
}
.dong1{
    animation:d .5s 1 linear;
}
@keyframes d1 {
    0%{
        height: 0px;
    }
    10%{
        height: auto;
    }
    20%{
        height:170px;
    }
    30%{
        height: auto;
    }
    40%{
        height: 80px;
    }
    60%{
        height: 130px;
    }
    100%{
        height: auto;
    }
}
.dong2{
    animation:d1 .5s 1 linear;
}
.hide_nav:hover  ul:nth-of-type(1){
    display: block;
}
.nav_piece>ul{
    display: none;
    overflow: hidden;
    height: auto;
    font-size: 15px;
    position: absolute;
    left: -16px;
    top: 35px;
    width: 180px;
    line-height: 40px;
    background: #36264a;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}
.nav_piece ul li:hover {
    color: #fff;
    padding-left: 40px;
    transition: padding-left 0.4s ease 0s;
    background: #3498db url(../images/nav_li_bg.png) no-repeat 165px 15px;
}
.nav_piece>ul li{
    text-align: left;
    padding-left: 30px;
    transition: padding-left 0.4s ease 0s;
}
.nav_piece>a{
    letter-spacing: 1px;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 0 15px;
    position: relative;
    cursor: pointer;
    height: 35px;
    color: #fff;
}
.now>a{
    background: url(../images/nav_now_bg.png) no-repeat bottom center;
}
.hide_nav>a{
    padding: 0 40px 0 15px;
}
.hide_nav>a .fours_icon{
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    right: 8px;
    top: 0;
    background: url(../images/nav_xiajiantou.png) no-repeat;
}