<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <ul>
            <% for (var i = 0; i < news.length; i++) {%>
            <li><%=news[i].title %> </li>

            <%} %>
        </ul>
    </div>
</body>
</html>